@page "/compare"
@inject HttpClient Http

<h1>
    Compare your friends!
</h1>

<input type="button" @onclick="SteamAPIContent"/>

@if (results == null)
{
    <h2>
        Loading...
    </h2>
}
else
{
    <h4>
        @results
    </h4>
}

@code {
    private string results;

    private async Task SteamAPIContent()
    {
        var message = new HttpRequestMessage(HttpMethod.Get, "http://api.steampowered.com/IPlayerService/GetOwnedGames/v0001/?key=XXXXXX&steamid=76561198008333789");

        message.SetBrowserRequestMode(BrowserRequestMode.Cors);
        message.Headers.Add("Access-Control-Allow-Origin", "http://api.steampowered.com");

        try
        {
            var jsonResults = await Http.SendAsync(message);

            results = jsonResults.IsSuccessStatusCode ? await jsonResults.Content.ReadAsStringAsync() : "Bad Request";
        }
        catch (Exception ex)
        {
            var breakpoint = string.Empty;
            results = ex.Message;
        }
    }
}
